{% extends "base.html" %}
{% import "partials/macros.html" as m %}

{% block title %}Tags | {{ config.title }}{% endblock title %}

{% block content %}
<div class="container container--wide">
  {{ m::page_header(title="Tags") }}
  <div class="list__group">
    {% for term in terms %}
    <div class="list__item">
      <a class="list__link" href="{{ term.permalink | safe }}">{{ term.name }}</a>
      <span class="list__date">{{ term.pages | length }}</span>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
