/******************************************************************************
 * Content
 ******************************************************************************/

body {
    padding-bottom: 20px;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures body takes at least full viewport height */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 66px;
    }
}

body.fixed-top-nav {
    // Add some padding for the nav-bar.
    padding-top: 56px;
}

body.sticky-bottom-footer {
    // Remove padding below footer.
    padding-bottom: 0;
}

.container {
    max-width: $max-content-width;
}

// Profile
.profile {
    img {
        width: 100%;
    }
}

/******************************************************************************
 * Sidenotes
 ******************************************************************************/

/* This initially hides the footnote (i.e. span)  */
input.sidenote + label + span {
    display: none;
}

/* This styles the footnote text which appears
when the label is clicked  */
input.sidenote:checked + label + span {
    display: block;
    font-size: 85%;
    margin: 1rem;
    float: left;
    clear: both;
    width: 95%;
}

/* This permanently hides the checkbox  */
input.sidenote {
    display: none;
}

/* This styles the footnote label to appear
like a hyperlink  */
input.sidenote + label {
    display: inline;
    cursor: pointer;
    color: var(--global-theme-color);

    &:hover {
        color: var(--global-theme-color);
        text-decoration: underline;
        cursor: pointer;
    }

    &:hover:after :not(.nav-item.dropdown) {
        width: 100%;
    }
}

// Ensure blockquote plays well with the sidenotes
blockquote {
    display: flex;
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
