{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block description %}{{ page.content | striptags | replace(from="
", to=" ") | trim | truncate(length=160) }}{% endblock description %}
{% block og_title %}{{ page.title }} | {{ config.title }}{% endblock og_title %}
{% block og_description %}{{ page.content | striptags | replace(from="
", to=" ") | trim | truncate(length=160) }}{% endblock og_description %}

{% block content %}
<div class="container">
  {{ <page_header title={page.title}/> }}
  <div class="post__content">
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}
