---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

{% assign url_beginning = page.url | slice: 0, 6 %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% if page.toc %}
      <hr>
      <div id="table-of-contents">
        {% toc %}
      </div>
      <hr>
    {% endif %}
    <div id="markdown-content">
      {{ content }}
    </div>
  </article>

  {% if page.citation %}
    {% include citation.liquid %}
  {% endif %}

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.related_blog_posts.enabled %}
    {% if page.related_posts == null or page.related_posts %}
      {% include related_posts.liquid %}
    {% endif %}
  {% endif %}

  {% comment %}
    {% if site.disqus_shortname and page.disqus_comments %}
        {% include disqus.liquid %}
    {% endif %}
    {% if site.giscus and page.giscus_comments %}
        {% include giscus.liquid %}
    {% endif %}
  {% endcomment %}
</div>
